body{
    margin: 0;
    font-family: "Malgun Gothic";
}

/* 오른쪽 아래 SNS 버튼 */
.sns{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
    background-color: rgb(0, 140, 255);
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns #snsBtn{
    display: none;
}

.sns label[for="snsBtn"]{
    display: block;
    width: 35px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
}

/* 콘텐츠 영역 */

/* 공용 Class */
section .btn{
    padding: 10px 20px;
    background-color: rgb(0, 140, 255);
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
    animation: btnani 2s infinite ease-in-out;
    transition: background-color 0.3s;
}

section .btn:hover{
    background-color: rgb(0, 132, 255);
    transition: background-color 0.3s;
}

/* 버튼 그림자 애니메이션 */
@keyframes btnani {
    0%{      
        box-shadow: 0 0 15px 3px rgba(50, 50, 50, 0.2);
    }
    50%{
        box-shadow: 0 0 10px 7px rgba(50, 50, 50, 0.22);
    }
    100%{
        box-shadow: 0 0 15px 3px rgba(50, 50, 50, 0.2);
    }
}

/* 1번 섹션 */
#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 100px 20%;
}

#section1 .text{
    display: inline-block;
    margin: auto 0;
}

#section1 .title{
    font-size: 40px;
    margin-bottom: 15px;
}

#section1 .info{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(155, 157, 159);
}

#section1 .img1{
    width: 520px;
    border-radius: 5px;
}

#section1 .img2{
    border: solid 20px #fff;
    width: 400px;
    border-radius: 5px;
    position: absolute;
    margin-top: 400px;
    margin-left: 180px;
}

/* 섹션 2 : 이벤트 */
#section2{
    background-color: rgb(250, 250, 250);
    padding: 250px 20%;
}

#section2 .text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section2 .title{
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#section2 .info{
    margin-top: 45px;
    font-size: 20px;
    color: #666;
    font-weight: 600;
}

#section2 .img3{
    height: 300px;
    border-radius: 5px;
    background-size: cover;
    background-position:center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ),url("../image/photo (5).jpg");
}

/* 섹션 3 : 리뷰 */
#section3 {
    padding: 200px 20% 100px;
    display: grid;
    grid-template-columns: 1.9fr 1.1fr;
    gap: 60px;
}

#section3 img{
    width: 100%;
    border-radius: 5px;
}

#section3 .title{
    margin-top: 0;
    font-size: 36px;
}

#section3 .info{
    font-weight: bold;
    color: #444444;
    font-size: 18px;
}

/* 푸터 영역 */
.footer{
    text-align: center;
}

.footer p{
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #444;
}