body{
    margin: 0;
    height: 1000px;
}
.sns{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    background-color: rgb(0, 140, 255);
}

/* 콘텐츠 영역 */

/* 공통 Class */
.contents{
    padding: 0 17%;
}

section{
    padding: 100px 0;
}

/* 1번 섹션 */
#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}

#section1 .text{
    display: inline-block;
    margin: auto 0;
}

#section1 .title{
    font-size: 40px;
    margin-bottom: 15px;
}

#section1 .info{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(155, 157, 159);
}

#section1 .btn{
    padding: 10px 20px;
    background-color: rgb(0, 140, 255);
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    margin-top: 15px;
}

#section1 .btn:hover{
    background-color: rgb(0, 119, 255);
}

#section1 .img1{
    width: 100%;
    border-radius: 5px;
}

/* 푸터 영역 */

.footer{
    text-align: center;
}

.footer p{
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #444;
}